*.idb
*.ipch
*.log
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.VC.db
*.VC.opendb
*.vcxproj.user

/Debug/*
!/Debug/cutest.dll
!/Debug/cutest.lib
!/Debug/TestRunnerApp.exe

/Release/*
!/Release/cutest.dll
!/Release/cutest.lib
!/Release/TestRunnerApp.exe

/x64_Debug/*
!/x64_Debug/cutest.dll
!/x64_Debug/cutest.lib
!/x64_Debug/TestRunnerApp.exe

/x64_Release/*
!/x64_Release/cutest.dll
!/x64_Release/cutest.lib
!/x64_Release/TestRunnerApp.exe
